<div class='container'>
  <form name="myForm" ng-controller='MyCtrl'>
    <fieldset>
      <legend>Upload on form submit</legend>
      Username:
      <input type="text" class='form-control' name="userName" ng-model="username" size="31" required>
      <i ng-show="myForm.userName.$error.required" class='warn'>*required</i>
      <br>Photo:
      
      <div style='position:relative;'><span class='btn btn-primary'>Browse..<input type="file"  style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'               ngf-select ng-model="picFile"  name="file"   
             accept="image/*" ngf-max-size="2MB" required
             ngf-model-invalid="errorFiles"></span></div>
      <i ng-show="myForm.file.$error.required">*required</i><br>
      <i ng-show="myForm.file.$error.maxSize">File too large 
          {{errorFiles[0].size / 1000000|number:1}}MB: max 5M</i>
      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>
      <button ng-disabled="!myForm.$valid" 
             class='btn btn-primary' ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
    <br>
  </form>
  </div>